body {
    background-image: url(https://fondosmil.com/fondo/13615.jpg);
}
#banner {
    width: 65%;
    height: 100px;
    margin-left: 5%;
}
#logo {
    margin-left: 15%;
    width: 10%;
    border: 3px solid black;
    border-radius: 10%;
}
header {
    background: linear-gradient(#55ff7f, #48d46b);
    padding: 10px;
    width: 60%;
    border-radius: 10px;
    position: absolute;
    right: 20%;
}
header,section,aside,article,nav {
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}
.linkText {
    text-align: center;
    font-size: 115%;
    color: #3533cf;
}
a {
    text-decoration: none;
}
h2 {
    text-align: center;
}
@media (max-width: 800px) {
    #banner {
        height: 50px;
    }
    .linkText {
        font-size: 65%;
    }
}